.header {
  width: 100%;
  height: 56px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 18px 0px;
  background-color: white;
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 56px;
  height: 56px;
}

.logoText {
  font-size: 30px;
}

.buttonGroup {
  justify-self: flex-end;
  justify-content: space-between;
  display: flex;
  gap: 30px;
  right: 0px;
}
